.site-footer.style-2{
	background-color:#1f2471;
}
.site-footer.style-2 .footer-bottom{
	background:#141857;
}

:root{
	--primary:#5e7d33;
	--primaryicon: #242c2e;
	--gradient: linear-gradient(to right,#2f3b34  0,#414230  51%,#2f3b34  100%);
	--gradientY: linear-gradient(to top,#5e7d33 0,#8f9f33 51%,#c5c634 100%);
	--gradient-sec: linear-gradient(to right,#5e7d33 0,#8f9f33 51%,#c5c634 100%);
	--gradient-sec2: linear-gradient(to right,#242c2e 0,#32392f 51%,#242c2e 100%);
	--gradient-seco: linear-gradient(to right,#2f3b34  0,#414230  51%,#2f3b34  100%);
	--gradient-ss: radial-gradient(#32392f 0, #242c2e 100%);
	--gradient-ss2: radial-gradient(#242c2e 0, #242c2e 100%);
	--quote: url(../images/quotes-3.svg);
	--primary-hover: #d40c5e;
	--primary-dark: #631032;
	--rgba-primary-05: rgba(97, 127, 51, 0.05);
	--rgba-primary-1: rgba(97, 127, 51, 0.1);
	--rgba-primary-2: rgba(97, 127, 51, 0.2);
	--rgba-primary-3: rgba(97, 127, 51, 0.3);
	--rgba-primary-4: rgba(97, 127, 51, 0.4);
	--rgba-primary-5: rgba(97, 127, 51, 0.5);
	--rgba-primary-6: rgba(97, 127, 51, 0.6);
	--rgba-primary-7: rgba(97, 127, 51, 0.7);
	--rgba-primary-8: rgba(97, 127, 51, 0.8);
	--rgba-primary-9: rgba(97, 127, 51, 0.9);
}